.sign-in {
  border: 1px solid #ffdddd;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(246, 232, 232);
}
.signIn__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signIn__link > .custom-button {
  margin-bottom: 15px;
  width: 260px;
}
